.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
}

.logo{
    width: 200px;;
}

.nav-items > ul{
    font-size: 20px;
    display: flex;
    list-style: none;
}

.nav-items > ul > li{
padding: 5px;
margin: 5px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}
.res-card{
    margin: 10px;
    padding: 5px;
    width: 200px;
    height: auto;
    background-color: #f0eaea;
}

.res-card:hover{
    cursor: pointer;
    border: 1px solid #ccc;
}

.search{
    padding: 10px;
}

.res-logo{
    height: 200px;
    width: 100%;
}
.shimmer-container{
    display: flex;
}
.shimmer-card{
    background-color: #ccc;
    margin: 10px;
    padding: 10px;
    height: 300px;
    width: 300px;
}

.login-btn{
    background-color: rgb(59, 59, 118);
    cursor: pointer;
    color: #fff;
    padding: 10px;
    margin: 0px 5px;
}
.filter{
    display: flex;
}

.user-container{
    border: 1px solid #000;
    padding: 5px;
    margin: 5px;
}